.TodoList {
  display: flex;
  flex-direction: column;
  margin: 0 auto 33px auto;

  height: auto;
  
  min-width: 300px;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}

.TodoList--center {
  justify-content: center;
}

.TodoList::-webkit-scrollbar:vertical {
  background-color: var(--strong_orange);
  width: 4px;
}

.TodoList::-webkit-scrollbar-thumb {
  background-color: var(--light_gray);
}

.TodoList::-webkit-scrollbar {
    -webkit-appearance: none;
}

.TodoList > *:last-child {
  margin-bottom: 6px;
}